
body {
    font-family: 'Roboto', 'Noto', sans-serif;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}


a{
    color: black;
    text-decoration: none;
}

.cart {
    position: absolute;
    font-size: 23px;
    right: 25px;
}

.shoptitle {

    text-align: center;
    letter-spacing: 5px;
    margin-top: 25px;
    margin-bottom: 48px;
}

.outwearMenu {
    display: flex;
    justify-content: center;
    column-gap: 34px;
    margin-bottom: 27px;
    font-size: 13px;
}

.outWear {
    text-align: center;
    margin: 30px;
}

.shopNow {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.spanShop {
    font-size: 14px;
    border: 2px solid black;
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
}

.twoImages {
    display: flex;
}

.image {
    width: 720px;
    height: 320px;
    object-fit: none;
}


.demo {
    text-align: center;
}

.spanDemo {
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    color: white;
}

.opacity {
    opacity: 0.6;
    font-size: 15px;
    margin: 20px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menOuterwear {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 13px;
}

.price {
    text-align: center;
    font-size: 12px;
    opacity: 0.6;
    margin-bottom: 35px;
}

.menImageContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 180px;
    margin-left: 280px;
}

.menImages {
    height: 280px;
    width: 300px;

}

.outwearName {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 5px;
}

b {
    font-size: 12px;
}

.Underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 13px;
}

.cartFileDiv {
    text-align: center;
    margin-top: 100px;
}

.cartDemo {
    margin-top: 550px;
}

.cartItems{
    opacity: 0.6;
    text-align: center;
    font-size: 12px;
}
.cartCount{
    margin-bottom: 50px;
}

.cartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.nestedCartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    
}

.cartImages{
    height: 70px;
    width: 70px;
}

.cartPre1{
    margin-right:100px;
    margin-left: 30px;
}

.cartPre2{
    margin-left: 70px;
}

.select{
    border: none;
    background-color: white;
}

.cartCheckout{
    border: 2px solid black;
    
    width:80px;
    padding: 10px 40px 10px 40px;
}

.totalAmount{
    margin-top: 30px;
    margin-left: 550px;
}

.cartDivItem{
    width:350px;
   
}

.checkoutContainer{
    display: flex;
    justify-content: center;
    column-gap: 80px;
}
.checkoutNestedContainer{
    display: flex;
    flex-direction: column;
}

.checkoutInput{
    width:400px;
    padding-bottom: 8px;
    border:none;
    font-size: 17px;
    border-bottom: 1px solid rgb(179, 177, 177);
    margin-bottom: 30px;
    background-color: white;
    
}

.checkoutFormHeading{
    margin-bottom: 30px;
    font-weight:bold;
    font-size: 13px;
}

.formState{
    width:200px;
}

.formCountry{
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 5px;
}

.expiryMonth{
    width:130px;
    margin-right: 7px;
}

.checkoutPlaceOrder{
    border:2px solid black;
    padding: 8px 40px 8px 40px;
    font-size: 14px;
}


.checkoutOrderDiv{
    width:400px;
    flex-wrap: wrap;
    column-gap: 100px;
    justify-content: space-between;
    row-gap: 20px;
    display: flex;
    font-size: 13px;
    line-height: 9px;
    margin-bottom: 35px;
}

.checkoutDemo{
    margin-top: 300px;
}

.productUnderline{
    border-bottom: 150px;
}

.productNestedContainer{
    width:450px;
}

.productOpacity{
    font-size: 13px;
    opacity: 0.6;
}

.productSelect{
    border: none;
    background-color: white;
    font-size: 17px;
    margin-left: 40px;
    margin-top: 10px;
    padding-right:320px ;
}

.productSelectQuantity{
    border: none;
    background-color: white;
    font-size: 17px;
    padding-right:330px ;
    margin-left: 20px;
}

.productParagraph{
    line-height: 18px;
    width:400px
}

.productDescription{
    opacity: 1;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 25px;
}

.productLastSection{
    margin-top: 20px;
}

.productList{
    width: 300px;
    font-size: 12px;
    line-height: 20px;
}

.productPrice{
    opacity:0.6;
    margin-bottom: 35px;
}

.productHeading{
    font-weight: normal ;
}

.productContainer{
    margin-top: 80px;
}

.productAddtoCart{
    border: 2px solid black;
    margin-top: 30px;
    width:190px;
    padding:10px 0px 10px 0px;
    text-align: center;
    font-size: 14px;
}